# Environment and Secrets
.env
.env.*
!.env.example

# Build and Release Directories
**/bin/
**/obj/
out/
[Bb]uild/

# Visual Studio & VS Code
.vs/
**/.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
logs/
